<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section
		  name="Kdk"
		  type="System.Configuration.DictionarySectionHandler" />

		<section  name="Kep"
		  type="System.Configuration.DictionarySectionHandler" />
	</configSections>

  <appSettings>
    <add key="DbKeyCC" value="CCCSDatabaseKey" />
    <add key="DbKeyDLMS" value="DLMSDatabaseKey" />
    <add key="DbKeyM2M" value="M2MDatabaseKey" />
    <add key="DbKeySBS" value="SBSDatabaseKey" />
    <add key="DbKeyKeyCache" value="KeyCacheDatabaseKey" />
    <add key="DbKeySPU" value="SPUSimDatabaseKey"  />
    <add key="FlushThreshold" value="500"  />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DvcPrtclSrcIdM2M" value="Gridstream:37:18:0"  />
    <add key="DvcPrtclSrcIdSBS" value="Gridstream:38:18:0"  />
	<add key="DvcPrtclSrcIdHV" value="Gridstream:175:23:0"  />  
    <add key="DvcPrtclSvcNm" value="GridstreamDlmsService"  />
	<add key="DvcPrtclSvcHV" value="Gridstream6N76Service"  />
    <add key="ConfigGroupNmSBS" value="Japan RF Residential Configuration A"  />
    <add key="ConfigGroupNmM2M" value="Japan Cellular Residential Configuration B"  />
	<add key="ConfigGroupNmRepeaters" value="LG RF Network Device Configuration D"  />   <!--Repeaters -->
	<add key="HardwareModelNmRepeaters" value="Japan 920 Repeater Hardware Model Group" /> <!--Repeaters -->
	<add key="ConfigGroupNmHV" value="Japan Cellular Commercial Configuration A" /><!--HV -->
	
	
    <add key="DlmsMeterModel" value ="4" />
    <add key="ModelGroupFamilyNmM2M" value="LG Cellular Residential Model"  />
	<add key="ModelGroupFamilyNmHV" value="1:N-ETH Commercial Model"  /> 
    <add key="ModelGroupFamilyNmSBS" value="LG RF Residential Model"  />
	<add key="ModelGroupFamilyNmRepeaters" value="Japan 920 Repeater Model Family Group"  />  <!--Repeaters -->
	<add key="FirmwarePlatformNmRepeaters" value="Japan 920 Repeater Platform Group"  />  <!--Repeaters -->
    <add key="SecurityConfigGroupNm" value="Default Sec Config Group - Advanced Mode"  />
    <add key="CollectorSecurityConfigGroupNm" value="Default Sec Config Group - Open Mode"  />

    <add key="LGInventoryGroupNm" value="LG Inventory Group"  />
    <add key="CollectorApplicationModelGroupNm" value="LG RF Collector Application Model Group"  />

    <add key="M2MPort" value="8083"  />
    <add key="NetSimPort" value="7000"  />
    <add key="DateTimeFormat" value="MM/dd/yyyy HH:mm"  />
    <add key="DateFormat" value="MM/dd/yyyy"  />
    <add key="SecurityMode" value ="true"/>

  </appSettings>
		
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <remove name="CCCSDatabaseKey" />
    <add name="CCCSDatabaseKey" connectionString="User ID=CentralServices;password=system;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SCALSCAL)));enlist=false" providerName="Oracle.DataAccess.Client" />
	  <add name="DLMSDatabaseKey" connectionString="User ID=DLMSAdapter;password=DLMSUser123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SCALSCAL)));enlist=false" providerName="Oracle.DataAccess.Client" />
	  <add name="M2MDatabaseKey" connectionString="User ID=M2MAdapter;password=M2MUser123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SCALSCAL)));enlist=false" providerName="Oracle.DataAccess.Client" />
	  <add name="SBSDatabaseKey" connectionString="User ID=SBSAdapter;password=SBSUser123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SCALSCAL)));enlist=false" providerName="Oracle.DataAccess.Client" />
	  <add name="KeyCacheDatabaseKey" connectionString="User ID=KeyCache;password=system;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SCALSCAL)));enlist=false" providerName="Oracle.DataAccess.Client" />
	  <add name="SPUSimDatabaseKey" providerName="System.Data.SqlClient" connectionString="User ID=sa;Pwd=Landis@123;Initial Catalog=SPUSimulation;Data Source=."/>
  </connectionStrings>
		
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>